<div class="navbar">
  <div class="navbar-content">
    <nav>
      <a routerLink="/" class="logo-container">
        <img class="logo" src="../../../../assets/images/logo.png" />
      </a>
      <ul class="links">
        <a href="/landing#">
          <li class="link">Inicio</li>
        </a>
        <a href ="/landing#nuestra-app">
          <li class="link">Descúbrenos</li>
        </a>
        <a href="/landing#contact">
          <li class="link">Contacto</li>
        </a>
        <a routerLink="/login">
          <li class="sign-in">Iniciar sesión</li>
        </a>
        <a routerLink="/register">
          <li class="sign-up">Registrarse</li>
        </a>
        <button class="custombutton" (click)="toggleTheme()">
          <li class="colorchange">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-sun">
              <circle cx="12" cy="12" r="4" />
              <path d="M12 2v2" />
              <path d="M12 20v2" />
              <path d="m4.93 4.93 1.41 1.41" />
              <path d="m17.66 17.66 1.41 1.41" />
              <path d="M2 12h2" />
              <path d="M20 12h2" />
              <path d="m6.34 17.66-1.41 1.41" />
              <path d="m19.07 4.93-1.41 1.41" />
            </svg>
          </li>
        </button>
      </ul>
    </nav>
  </div>
</div>
