<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-custom collapse">
        <div class="position-sticky">
            <br>
            <br>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home"></span>
                ADMIN PANEL
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Usuarios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Posts
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Main content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-custom fullHeight">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Admin DASHBOARD VITALFITPRO</h1>
        </div>
  
        <!-- Cards -->
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Administración de Usuarios</h5>
                <p class="card-text">Administrar datos de usuarios.</p>
                <a href="#" class="btn btn-primary">Ir</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Administración de Posts</h5>
                <p class="card-text">Administrar posts de los usuarios de la web</p>
                <a href="#" class="btn btn-primary">Ir</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Gestor de tickets webb app</h5>
                <p class="card-text">Incidencias reportadas por usuarios.</p>
                <a href="#" class="btn btn-primary">Ir</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  