<div class="container-fluid bg-custom3">
    <div class="row h-100">
        <div class="col-sm-2 col-md-3 col-xl-2">
            <app-navbar></app-navbar>
        </div>
        <div class="col-sm-10 col-md-9 col-xl-10 fullHeight">
            <br />
            <br />
            <div class="col-12">
                <div class="row">
                    <h1 class="custom">Vegetal Tips:</h1>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/9f/c5/5e/corral-chicken-yaki-udon.jpg?w=600&h=400&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/12/b9/29/getlstd-property-photo.jpg?w=600&h=400&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body m-2">
                                        <h5 class="card-title">UDON Torre Cardenas</h5>
                                        <p class="card-text">
                                            TIPOS DE COCINA Japonesa, Asiática, Fusión
                                        </p>
                                        <p class="card-text">Japonesa, Asiática</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/bd/6e/cf/postre-casero.jpg?w=600&h=-1&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/e5/eb/e5/vista-terraza.jpg?w=600&h=-1&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body m-2">
                                        <h5 class="card-title">Buono</h5>
                                        <p class="card-text">
                                            Viajar a Italia en cada mordisco
                                        </p>
                                        <p class="card-text">Italiana, Pizza</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/65/3e/c1/pastel.jpg?w=600&h=-1&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/65/3e/ae/cous-cous.jpg?w=600&h=-1&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body m-2">
                                        <h5 class="card-title">Marhaba</h5>
                                        <p class="card-text">
                                            Ambiente informal, excelente comida y buen precio
                                        </p>
                                        <p class="card-text">Marroquí, Mediterránea</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1 class="custom">Para los más carnivoros:</h1>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://media.gq.com.mx/photos/620bcf7243f71a078a355280/16:9/w_2560%2Cc_limit/carnes-85650597.jpg"
                                        class="card-img m-2" alt="Imagen" />
                                    <img src="https://media.istockphoto.com/id/535786572/es/foto/lomo-bistec-a-la-parrilla.jpg?s=612x612&w=0&k=20&c=4UgQRz4gSXTHyWZsadZ6qAMvkSu5JwyCg9mdPHPRSnE="
                                        class="card-img m-2" alt="Imagen" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body m-2">
                                        <h5 class="card-title">ASADOR DIANA</h5>
                                        <p class="card-text">
                                            Raciones de auténtico sabor, costillas grandes y hamburguesas aún mayores
                                        </p>
                                        <p class="card-text">Tradicional Rumana</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/04/f4/93/ceviche-et-tataki-de.jpg?w=600&h=400&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/02/4a/cb/celebraciones.jpg?w=600&h=400&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body m-2">
                                        <h5 class="card-title">La Mala</h5>
                                        <p class="card-text">
                                            Bar internacional, con las mejores tapas
                                        </p>
                                        <p class="card-text">Andaluza, Mediterránea</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv94Pj0IYrbuGTb5TwSymHbtIOrJmhOt62YA&s"
                                        class="card-img m-2" alt="Imagen" />
                                    <img src="https://www.carniceriademadrid.es/wp-content/uploads/2023/07/mejor-carne-a-la-piedra.jpg"
                                        class="card-img m-2" alt="Imagen" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body m-2">
                                        <h5 class="card-title">El Saltador</h5>
                                        <p class="card-text">
                                            Carne de todo tipo, para los más atrevidos
                                        </p>
                                        <p class="card-text">Española, Mediterránea</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1 class="custom">Postres muy FIT:</h1>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/f1/1b/8e/bacalao-alejandra-con.jpg"
                                        class="card-img m-2" alt="Imagen" />
                                    <img src="https://media-cdn.tripadvisor.com/media/photo-f/17/f1/1c/cb/ravioli-de-calabacin.jpg"
                                        class="card-img m-2" alt="Imagen" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body m-2">
                                        <h5 class="card-title">Travieso
                                        </h5>
                                        <p class="card-text">
                                            Opciones vegetarianas, Opciones veganas, Opciones sin gluten
                                        </p>
                                        <p class="card-text">Mediterránea, Española, Saludable, Fusión
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/b9/5f/6d/poke-bowl.jpg?w=600&h=-1&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/66/96/1d/un-restaurante-con-fusion.jpg?w=600&h=400&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body m-2">
                                        <h5 class="card-title">Wakea Restaurante</h5>
                                        <p class="card-text">
                                            La mejor respotería de la ciudad
                                        </p>
                                        <p class="card-text">Internacional, Postres</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/92/1e/58/photo2jpg.jpg?w=600&h=400&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/05/6d/7b/6d/salmantice.jpg?w=600&h=-1&s=1"
                                        class="card-img m-2" alt="Imagen" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body m-2">
                                        <h5 class="card-title">Restaurante Salmantice</h5>
                                        <p class="card-text">
                                            Buen genero y buenas recomendaciones.
                                        </p>
                                        <p class="card-text">Mediterránea, Europea</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>