<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>VitalFitPro</h5>
          <p>Aplicación creada por y para la salud de la gente.</p>
        </div>
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="/landing#" class="text-white">Inicio</a></li>
            <li><a href="/landing#nuestra-app" class="text-white">Descúbrenos</a></li>
            <li><a href="/landing#contact" class="text-white">Contacto</a></li>
            <li><a href="/register" class="text-white">Registro</a></li>
            <li><a href="/login" class="text-white">Inicia Sesión</a></li>

          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-phone"></i> Teléfono: 622 01 79 25</li>
            <li><i class="fas fa-envelope"></i> Email: jairosg03&#64;gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-3">
          <p>&copy; 2024 VitalFitPro. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  