  <!-- Modal QR -->
  <div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="qrModalLabel">Código QR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img src="../../assets/images/Jairo Share.jpeg" alt="Código QR" class="img-fluid">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Modal Código de Referidos -->
    <div class="modal fade" id="referralModal" tabindex="-1" aria-labelledby="referralModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="referralModalLabel">Código de Referidos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <p class="h4">637 232 343</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
<div class="container-fluid bg-custom3">

    <div class="row">
        <div class="col-sm-2 col-md-3 col-xl-2 bg-customNav">
            <app-navbar></app-navbar>
        </div>

        <div class="col-sm-10 col-auto col-md-9 col-xl-10">

            <div class="row">

                <div class="col-sm-12 col-md-6 text-center bg-custom">
                    <div class="row py-3">

                        <div class="col-4">
                            <img src="../../assets/images/VitalFitFoods.jpeg" class="img-fluid p-3"
                                alt="Imagen">
                            <br>
                            <br>
                        </div>

                        <div class="col-8">
                            <h1 class="text-light py-3">VitalFit Foods</h1>

                            <p class="text-light px-3">Comienza tu vida saludable creando tus propios platos Fitness.
                            </p>
                            <br>
                            <p class="text-light px-3">Podrás crear platos propios con calorías y nutrientes totalmente
                                controlados.</p>
                            <button routerLink="/foods" class="btn btn-light px-2 py-2 my-3">¡Comenzar ya!</button>
                            <br>
                        </div>

                    </div>

                </div>

                <div class="col-sm-12 col-md-6 text-center bg-custom2">
                    <div class="row py-3">

                        <div class="col-8">
                            <h1 class="text-light py-3">VitalFit Training</h1>

                            <p class="text-light px-3">Ya puedes crear tus ejercicios y hacer seguimiento de tu progreso.
                            </p>
                            <br>
                            <p class="text-light px-3">Podrás crear registros de tus avances y ver tu progresión.</p>
                            <br>
                            <button routerLink="/exercises" class="btn btn-light px-2 py-2 my-3">¡Comenzar ya!</button>
                            <br>

                        </div>

                        <div class="col-4">
                            <img src="../../assets/images/vitalfittraining.jpeg" class="img-fluid p-3"
                                alt="Imagen">
                        </div>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-12 col-md-6 text-center bg-custom2">
                    <div class="row py-3">

                        <div class="col-4">

                            <img src="../../assets/images/EatingGirlVitalFitPro.png" class="img-fluid p-3"
                                alt="Imagen">
                            <br>
                            <br>
                        </div>

                        <div class="col-8">
                            <h1 class="text-light py-3">VitalFit Share</h1>

                            <p class="text-light px-3">Comparte con el resto de la comunidad tus platos saludables.
                            </p>
                            <br>
                            <p class="text-light px-3">Podrás compartir y recibir likes a tus creaciones</p>
                            <br>
                            <button routerLink="/shared" class="btn btn-light px-2 py-2 my-3">¡Comenzar ya!</button>
                            <br>
                        </div>

                    </div>

                </div>

                <div class="col-sm-12 col-md-6 text-center bg-custom">
                    <div class="row">

                        <div class="col-8">
                            <h1 class="text-light py-3">VitalFit Tips</h1>

                            <p class="text-light px-3">Los mejores consejos, están en VitalFit.
                            </p>
                            <br>
                            <p class="text-light px-3">Sigue nuestros consejos y lugares sugeridos para llevar a cabo tu plan de comidas</p>
                            <br>
                            <button routerLink="/tips" class="btn btn-light px-2 py-2 my-3">¡Comenzar ya!</button>
                            <br>
                        </div>

                        <div class="col-4">
                            <img src="../../assets/images/runningGirlVitalFitPro.png" class="img-fluid p-3"
                                alt="Imagen">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 text-center bg-custom2">
                    <div class="row">

                        <div class="col-4">

                            <img src="../../assets/images/FitnessBoysSharingVitalFitPro.png" class="img-fluid p-3"
                                alt="Imagen">
                            <br>
                            <br>
                        </div>

                        <div class="col-8">
                            <h1 class="text-light py-3">Comparte la app</h1>

                            <p class="text-light px-3">Comparte la app con el resto de tus comapañeros
                            </p>
                            <br>
                            <p class="text-light px-3">Próximamente podrás dar uso a está característica y ganar premios por compartir nuestros servicios</p>
                            <br>
                            <button class="btn btn-light px-2 py-2 my-3" data-bs-toggle="modal" data-bs-target="#qrModal">Compartir</button>
                            <br>
                        </div>

                    </div>

                </div>
                <div class="col-sm-12 col-md-6 text-center bg-custom">
                    <div class="row">

                        <div class="col-8">
                            <h1 class="text-light py-3">VitalFit Código Referidos</h1>

                            <p class="text-light px-3">VitalFit incorporará un programa de referidos por el cual podrás obtener recompensas
                            </p>
                            <br>
                            <p class="text-light px-3">Podrás obtener más información sobre esto cuando se implemente esta característica</p>
                            <br>
                            <button class="btn btn-light px-2 py-2 my-3" data-bs-toggle="modal" data-bs-target="#referralModal">Ver mi código</button>
                            <br>
                        </div>

                        <div class="col-4">
                            <img src="../../assets/images/new.jpeg" class="img-fluid p-3"
                                alt="Imagen">
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
        <app-footer class="px-0"></app-footer>
    </div>
</div>