
.bg-custom{
    background: linear-gradient(to bottom, rgb(139, 41, 78) 20%, #000000 100%);
}
.bg-custom2{
    background: linear-gradient(to bottom, rgb(139, 41, 78) 20%, #000000 100%);
}

.bg-custom3{
    background: linear-gradient(to bottom, rgb(139, 41, 78) 20%, #000000 100%);
}